body {
	margin: 0;
    font-family: Roboto, Helvetica Neue, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.welcome {
	color: #f1a200;
	background-color: #d6c56f;
	font-size: 250%;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	text-align: center;
}
.formulario {
	display: flex;
	flex-direction: column;
	color: black;
	border-radius: 12px;
	box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, .5);
	background-color: #d6c56f;
	height: 600px;
	width: 800px;
}
.tituloformulario {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 250%;
	font-weight: 700;
	margin-block: 40px;
}
.datosformulario {
	color: black;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
}
input {
	border-radius: 4px;
	border: 1px solid;
	background-color: #f1a200;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
}
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input:focus {
	outline: none;
}
label {
	margin: 17px;
	font-size: 120%;
}
#ipv4 {
	width: 100px;
}
#puerto {
	width: 45px;
}
#numbots {
	width: 30px;
}
#boton {
	margin-top: 30px;
	width: 110px;
	height: 55px;
	border-radius: 12px;
	cursor: pointer;
}
.btnocultar {
	margin-top: auto;
	display: none;
}
button {
	margin: 10px;
	width: auto;
	height: 45px;
	border: 1px solid;
	border-radius: 12px;
	cursor: pointer;
	background-color: #f1a200;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
}